{% load bootstrap_modal %}
<div class="bg-blue-400">
{% for section in sections %}
    <div id="bigcard" class="flex flex-col">
        <div style="transform: rotate(0);" class="bigcard_head text-top -padding">
            {% if section.top_link_modal %}
                <a role="button" class="hover:text-gray-400" {% open_modal url=section.top_link_modal|default:"" %}>
                    {{ section.top_text|default:"" }}<i
                        class="fas fa-chevron-right stretched-link pl-2"></i></a>
            {% elif section.top_link %}
                <a href="{{ section.top_link|default:" #" }}" class="hover:text-gray-400" {# data-turbo-frame="content"  #}>
                    {{ section.top_text|default:"" }}<i
                        class="fas fa-chevron-right stretched-link pl-2"></i></a>
            {% else %}
                {{ section.top_text|default:"" }}
            {% endif %}
        </div>
    </div>
    <div class="bigcard_table mr-10" style="max-height:85%;">
        {% for entry in section.entries %}
            {% if section.top_link_modal %}
                <div style="transform: rotate(0);"
                     class="entry -padding {% if entry.active%}active{% endif %}">
                    <a class="stretched-link" href="" {% open_modal url=entry.link %}>
                        {{ entry.text|truncatechars:20 }}</a>
                </div>
            {% else %}
                <div style="transform: rotate(0);"
                     class="entry -padding {% if entry.active%}active{% endif %}">
                    <a class="stretched-link" href="{{ entry.link }}" {# data-turbo-frame="content"  #}
                       data-url="{{ entry.external_link }}">
                        {{ entry.text|truncatechars:20 }}</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
</div>
