{% load i18n %}
{% block pagination %}
    <div>
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page=1">&laquo; first</a>
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">{% translate "previous" %}</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">{% translate "next" %}</a>
                    <a href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}">{% translate "last" %} &raquo;</a>
                {% endif %}
            </span>
    </div>

    <!-- Hide django-tables2 pagination-->
    <style>
        .pagination {
            display: none;
        }
    </style>
{% endblock %}